# {{.Name}}

{{if .Description}}{{.Description}}

{{end}}{{if .RecipeYield}}- **Servings**: {{.RecipeYield}}
{{end}}{{if .PrepTime}}- **Prep Time**: {{.PrepTime}}
{{end}}{{if .CookTime}}- **Cook Time**: {{.CookTime}}
{{end}}{{if .TotalTime}}- **Total Time**: {{.TotalTime}}
{{end}}
## Ingredients
{{range .Ingredients}}
{{- if .IsHeading}}
### {{.Heading}}
{{end}}
{{- if .Display}}
- [ ] {{.Display}}
{{- else if or .AmountStr .FoodStr}}
- [ ] {{if .AmountStr}}{{.AmountStr}} {{end}}{{.FoodStr}}{{if .NoteStr}}, {{.NoteStr}}{{end}}
{{- end}}
{{- end}}

## Instructions
{{range $i, $step := .Instructions}}
{{if $step.Title}}
### {{$step.Title}}
{{end}}{{inc $i}}. {{if $step.Summary}}**{{$step.Summary}}**: {{end}}{{$step.Text}}
{{- end}}
{{if .Notes}}
## Notes
{{range .Notes}}
{{- if .Title}}
### {{.Title}}
{{end}}
{{.Text}}
{{end}}
{{- end}}
