<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{.SiteURL}}</loc>
  </url>
{{- range .Recipes}}
  <url>
    <loc>{{$.SiteURL}}{{.Slug}}/</loc>
    {{- if .DateISO}}
    <lastmod>{{.DateISO}}</lastmod>
    {{- end}}
  </url>
{{- end}}
</urlset>
